Repository nbckr/HoloRepository-Core, pull requests merged in 2019-08, with the labels that each got.

#64 Ui/fake smart auth
  HoloRepositoryUI/client/package-lock.json
  HoloRepositoryUI/client/package.json
  HoloRepositoryUI/client/src/__tests__/components/AppComponents.smoke.test.tsx
  HoloRepositoryUI/client/src/__tests__/components/MainContainer.routing.test.tsx
  HoloRepositoryUI/client/src/__tests__/components/PublicComponents.smoke.test.tsx
  HoloRepositoryUI/client/src/components/app/HoloLensRemoteLoginPage.tsx
  HoloRepositoryUI/client/src/components/app/patients/PatientCard.tsx
  HoloRepositoryUI/client/src/components/public/LandingPage.tsx
  HoloRepositoryUI/client/src/components/public/LoginPage.tsx
  HoloRepositoryUI/client/src/components/shared/App.tsx
  HoloRepositoryUI/client/src/components/shared/AppState.tsx
  HoloRepositoryUI/client/src/components/shared/MainContainer.tsx
  HoloRepositoryUI/server/.env.local
  HoloRepositoryUI/server/src/common/clients/fhirClient.ts
  HoloRepositoryUI/server/src/config.ts
Labels: UI

#76 UI/BE: Use variables from process.env
  HoloRepositoryUI/server/.env.local
  HoloRepositoryUI/server/src/api/routes/patients/patients.service.ts
  HoloRepositoryUI/server/src/common/clients/HoloPipelinesClient.ts
  HoloRepositoryUI/server/src/common/clients/HoloStorageAccesorClient.ts
  HoloRepositoryUI/server/src/common/logger.ts
  HoloRepositoryUI/server/src/common/server.ts
Labels: UI

#69 Pipeline: fix nifti normalisation
  HoloPipelines/.gitignore
  HoloPipelines/core/adapters/nifti_file.py
  HoloPipelines/core/clients/http.py
  HoloPipelines/tests/test_nifti_file.py
  HoloPipelines/tests/utils/shared_fixtures.py
Labels: PIPELINE

#84 PIPELINE: Fix lung segmentation
  HoloPipelines/core/adapters/nifti_file.py
  HoloPipelines/core/pipelines/lung_segmentation.py
Labels: PIPELINE, bug

#82 Pipeline: Simplify wrapper
  HoloPipelines/.env
  HoloPipelines/config.py
  HoloPipelines/core/pipelines/abdominal_organs_segmentation.py
  HoloPipelines/core/pipelines/bone_segmentation.py
  HoloPipelines/core/pipelines/lung_segmentation.py
  HoloPipelines/core/third_party/fast_quadric_mesh_simplification/README.md
  HoloPipelines/core/third_party/fast_quadric_mesh_simplification/simplify
  HoloPipelines/core/wrappers/simplify.py
  HoloPipelines/tests/test_nifti_file.py
  HoloPipelines/tests/test_simplify_wrapper.py
  HoloPipelines/tests/utils/shared_fixtures.py
  HoloPipelines/tests/utils/teddy.obj
Labels: PIPELINE
